nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') Google Api
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='/home')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/maps') Maps
      li.nav-item
        a.nav-link(href='/url') URL Shortener
      li.nav-item
        a.nav-link(href='youtube') Youtube