pre{
    background: (255,255,255,.8);
    border: 1px solid #c6c6c6;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 3px 6px #ddd;
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}
/* h1{

    width: 404px;
    height: 47px;
    margin-bottom: 40px;
    text-indent: -500em;
    display: block; 
    text-indent: -500em;
    color: red;

} */


h2{
 display: block;
 font-size: 1.5em;
 margin-block-start: 0.83;
 margin-block-end: 0.83em;
 margin-inline-start: 0px;
 margin-inline-end: 0px;
 font-weight: bold;
 color: #111;
 /* font: 15px Courier; */


}




ul, menu, dir{
display: block;
list-style: disc;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
}

#menu{
 position: fixed;
 top: 0%;
 left: 0%;
 height: 100%;
 background-color:(0,0,0,0.3);
 font: bold 15px Helvetica;
 border-right: 1px solid rgba(0,0,0,0.2)



}
body{
    display: block;
    margin:8px;
    padding: 0 30px 30px;
    margin-top: 8px;

}
#menu ul,li{

list-style: none;
padding-left: 15px;
padding-right:20px;
color: #fff;
margin: 0;

top:0;
}

li{
    display: list-item;
    text-align: justify;
}

#wrap{

    min-height: 600px;
    padding-top: 30px;
}
div{
    display: block;
    /* border-top: 1px solid #000; */
    
}
#page{
    width: 650px;
    margin: auto;
    position: relative;
}

h1 a{
font-display: bold;
width: 404px;
height: 47px;
margin-bottom: 40px;
text-indent: -500em;
display: block;
justify-content: center;


}

p{
display:block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-block-end: 0px;



}

#content{

    color: #111;
    font:15px courier;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 15px;
    line-height: normal;
    font-family: Courier;
}

img{
    margin-right: 5px;
}


#footer {
    padding-top: 8px;
    /* float:left; */
    text-align: right;
    padding-bottom: 20px;
    font:13px Helvetica;
    color: #666;
    border-top: 1px solid #000;
    
}

#license{
    float:right;

}

div#menu{
    background-color:rgba(0,0,0,0.3);
    opacity: 0.7;
}



 a{

    text-decoration: none;
    color: #fff;
    text-shadow: none;
}

#Mongoose{
justify-content: center;
background-color: red;
}

b{
 margin-bottom: 40px;
 font-size: 100px;
 height: 47px;
text-indent: -500em;
display: initial;
}